/*----------------------Simon Below-----------------------------------*/
.simonContainer{
    position: relative;
    text-align: center;
    width: 1000px;
    height: 700px;
    z-index: 2;
    background: rgb(140, 140, 140);
    margin-top: 0px;
    margin-left: 250px;
}
.simonBackground{
  position: relative;
  background: lightgray;
  height: 80vh;
  width: 80vh;
  border-radius: 100%;
  left: 12vw;
  padding: 1.257vh;
  box-sizing: border-box;
}
.simonRed{
  display: inline-block;
  width: 38vh;
  height:38vh;
  border-top-left-radius: 100%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  background: rgb(186, 0, 0);
  outline: none;
}
.simonBlue{
  display: inline-block;
  width: 38vh;
  height:38vh;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
  background: rgb(0, 0, 186);
  outline: none;
}
.simonGreen{
  display: inline-block;
  width: 38vh;
  height:38vh;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 100%;
  background: rgb(0, 186, 0);
  outline: none;
}
.simonYellow{
  display: inline-block;
  width: 38vh;
  height:38vh;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 0%;
  background: rgb(186, 186, 0);
  z-index: 99;
  outline: none;
}
.simonMiddle{
  height: 30vh;
  width: 30vh;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: lightgray;
}
.simonMiddle2{
  height: 28vh;
  width: 28vh;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: rgb(140, 140, 140);
  text-align: center;
  line-height: 28vh;
  outline: none;
  font-weight: bolder;
}

/*----------------------home Below-----------------------------------*/
.homeH1 {
  margin-left: 10vw;
  margin-top: 10vw;
  width: 80vw;
  height: 10vw;
  text-align: center;
  background: rgb(175, 175, 175);
  border: 5px solid black;
  line-height: 5vh;
}
.homeMessage {
  height: inherit;
  width: inherit;
}
/*----------------------Maze Below-----------------------------------*/
.mazeBackground{
  position: relative;
  width: 1000px;
  height: 700px;
  z-index: 2;
  background: gray;
  margin-top: 0px;
  margin-left: 250px;
}
.mazeStart{
  position: relative;
  left:1150px;
  top: 660px;
  width: 50px;
  height: 50px;
  z-index: 5;
  background: green;
  background
  -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);
}
.mazeEnd{
  position: relative;
  left:920px;
  top: -665px;
  width: 50px;
  height: 50px;
    z-index: 4;
  background: red;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.mazeTrack {
  position: relative;
  z-index: 3;
  width: inherit;;
  height: inherit;;
  background: lightblue;
  -webkit-clip-path: polygon(98% 4%, 2% 4%, 2% 22%, 88% 21%, 88% 74%, 86% 74%, 86% 35%, 86% 23%, 79% 23%, 74% 32%, 70% 23%, 66% 32%, 62% 23%, 58% 33%, 54% 24%, 50% 33%, 47% 24%, 43% 32%, 40% 24%, 36% 33%, 33% 24%, 29% 32%, 26% 24%, 21% 33%, 16% 24%, 11% 33%, 6% 24%, 2% 35%, 2% 96%, 21% 50%, 18% 96%, 38% 54%, 34% 97%, 55% 54%, 50% 97%, 67% 56%, 67% 97%, 98% 97%, 98% 86%, 72% 86%, 72% 45%, 66% 45%, 56% 74%, 61% 45%, 53% 45%, 40% 77%, 43% 45%, 36% 45%, 23% 76%, 25% 45%, 18% 45%, 6% 74%, 6% 35%, 11% 43%, 16% 33%, 21% 42%, 25% 34%, 29% 42%, 33% 34%, 36% 42%, 40% 34%, 43% 42%, 47% 35%, 50% 42%, 54% 34%, 58% 41%, 62% 34%, 66% 41%, 70% 33%, 74% 42%, 79% 32%, 82% 32%, 82% 44%, 82% 83%, 92% 83%, 92% 15%, 6% 15%, 6% 13%, 98% 13%);
  clip-path: polygon(98% 4%, 2% 4%, 2% 22%, 88% 21%, 88% 74%, 86% 74%, 86% 35%, 86% 23%, 79% 23%, 74% 32%, 70% 23%, 66% 32%, 62% 23%, 58% 33%, 54% 24%, 50% 33%, 47% 24%, 43% 32%, 40% 24%, 36% 33%, 33% 24%, 29% 32%, 26% 24%, 21% 33%, 16% 24%, 11% 33%, 6% 24%, 2% 35%, 2% 96%, 21% 50%, 18% 96%, 38% 54%, 34% 97%, 55% 54%, 50% 97%, 67% 56%, 67% 97%, 98% 97%, 98% 86%, 72% 86%, 72% 45%, 66% 45%, 56% 74%, 61% 45%, 53% 45%, 40% 77%, 43% 45%, 36% 45%, 23% 76%, 25% 45%, 18% 45%, 6% 74%, 6% 35%, 11% 43%, 16% 33%, 21% 42%, 25% 34%, 29% 42%, 33% 34%, 36% 42%, 40% 34%, 43% 42%, 47% 35%, 50% 42%, 54% 34%, 58% 41%, 62% 34%, 66% 41%, 70% 33%, 74% 42%, 79% 32%, 82% 32%, 82% 44%, 82% 83%, 92% 83%, 92% 15%, 6% 15%, 6% 13%, 98% 13%);
}


/*----------------------Brix Below-----------------------------------*/

#myCanvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    width: 720px;
    height: 640px;
    style: border: 1px solid black;
}

/*--------------------TEMPLATE BELOW--------------------------------*/
body {

  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */

}

.homeClosed {
  top:15px;
  left:15px;
  position:fixed;
 display:block;
  width:100px;
  height:100px;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.brix {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.ticTackToe {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.maze {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}
  .simon {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}
.home {
  top:15px;
  left:15px;
  width:100px;
  height:100px;
  background:darkSlateGray;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}
