<h1 class="simonContainer">Click on Simon to start the game; and click on Simon after following the light pattern.
<div class="simonBackground">
  <div class="simonRed" simon-red-dir ng-click='redLogic()'></div>
  <div class="simonBlue" simon-blue-dir ng-click='blueLogic()'></div>
  <div class="simonGreen" simon-green-dir ng-click='greenLogic()'></div>
  <div class="simonYellow" simon-yellow-dir ng-click='yellowLogic()'></div>
  <div class="simonMiddle"></div>
  <div class="simonMiddle2" simon-logic-dir ng-click='simonLogic()'>Simon</div>
</div>
</h1>
